.task-block {
    position: relative;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 2px 1px 5px 2px #000;
}

.task-title, .task-status {
    display: block;
    padding: 10px 100px 10px 10px;
}

.task-done, .btn-remove {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: hotpink;
    border-radius: 20px;

}

.task-done {
    right: 60px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.task-done-check {
    cursor: pointer;
    opacity: 0.5;
}

.btn-remove {
    right: 10px;
    border: none;
    padding: 8px 12px;
}

.btn-remove:hover {
    background: pink;
}

.btn-remove:active {
    transform: translateY(-48%);
    right: 9px;
}

